/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 18, 2018, 3:44:16 PM
    Author     : Mayada
*/
body{
    direction: rtl;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{
    float: right;
}
.col-md-offset-4{
    margin-right: 33.33333333%;
}

#preview_image{
    width: 100px;
    height: 100px;
}
#loading{    
    display: none;
}
.loadImgDiv{
    float: right;
    margin-bottom: 22px;    
}